<!DOCTYPE html>
<html>
  <head>
    <title>RailsPrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <%= link_to"Private Events", root_path, class: "navbar-brand" %>
          <ul class="navbar-nav mr-right">
            <li class="nav mr-auto">
              <% if current_user %>
                <%= link_to current_user.name, root_path, class: "nav-link text-light px-2" %>
                <%= link_to "Log Out", logout_path, class: "nav-link px-2" %>
              <% else %>  
              <%= link_to 'Sign up', new_user_path(@user), class: "nav-link px-2" %>
              <%= link_to 'Sign In',  login_path, class: "nav-link px-2" %>
            <% end %>
            </li>
          </ul>
      </div>
       </nav>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
